
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

    <div class="row">
      <div class="col-md-5">
        <h1>購入履歴</h1>
        <p>会員登録時のユーザー情報を閲覧することができます。</p>
      </div>
    </div>

    <table class="table table-bordered">
      <tr>
        <th>購入内容</th>
        <th>購入枚数</th>
        <th>価格</th>
      </tr>

        <% @purchase_products.each do |purchase_product| %>
          <tr>
            <td><%= purchase_product.product.title %></td>
            <td><%= purchase_product.quantity %></td>
            <td><%= purchase_product.price %></td>
          </tr>
        <% end %>
    </table>

    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-4">

      <%= link_to "戻る", admins_payments_path, class: "btn btn-primary btn-lg center-block btn-block" %>

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>


  </div>
</div>