<div class="container">
	<div class="row">
		<div class ="col-md-4">

          <div class="">
          	<h3>ユーザー一覧</h3>
          </div>

		</div>

		<div class="col-md-4">

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

		  <table class="table">
		  	<thead>
		  		<tr>
		  			<th>ID</th>
		  			<th>名前（性・名）</th>
		  			<th>名前（カナ性・カナ名）</th>
		  			<th>メールアドレス</th>
		  		</tr>
		  	</thead>


		  	<tbody>
		  		<tr>
		  			<td>1</td>
		  			<td>吉田健</td>
		  			<td>ヨシダタケル</td>
		  			<td>User Blocked@mail.com</td>
		  		</tr>
		  	</tbody>
		  </table>
		</div>
	</div>
</div>