<div class="container">

  <div class="row">

    <div class="col-md-6">

      <div class="">
        <h3>ユーザー情報</h3>
        <p>会員登録時のユーザー情報を閲覧することができます。</p>
      </div>

    </div>

    <div class="col-md-6">
    </div>

  </div>


  <div class="row">

    <div class="col-md-6">

  <div class="row">

    <div class="col-md-6">

      <div class="">
        <p>□名前（性・名）</p>

        <p>□名前（カナ性・カナ名）</p>

        <p>□郵便番号</p>

        <p>□住所</p>

        <p>□電話番号</p>

        <p>□メールアドレス</p>

        <p>□パスワード</p>
      </div>

    </div>

    <div class="col-md-6">

       <div>
        <p><span>ななし</span><span>hoge</span></p>

        <p><span>ナナシ</span><span>ホゲ</span></p>

        <p><span>3933939</span></p>

        <p><span>東京都</span></p>

        <p><span>07077777777</span></p>

        <p><span>hogehoge@hogehoge.com</span></p>

        <p><span>password01</span></p>
       </div>

    </div>
  </div>
    </div>




    <div class="col-md-6">

        <div class="">
            <p>ユーザー情報を編集するには編集をクリック<br>
               してください。
            </p>
            <p><button class="btn btn-success">編集</button></p>
        </div>

        <div class="">
            <p>過去の購入履歴を閲覧するには購入履歴一覧<br>
               をクリックしてください。
            </p>
            <p><button class="btn btn-primary">購入履歴一覧</button></p>
        </div>

        <div class="">
            <p>退会処理をするには退会をクリックしてください。</p>
            <p><button class="btn btn-danger">退会</button></p>
        </div>

    </div>
  </div>
</div>