<div class="container">
  <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <img src="cdjacket1.png" alt="no image">
        <button type="button" class="btn btn-info">画像選択</button>
      </div>

      <div class="col-md-4">
        <p>title</p>
        <p>アーティスト名</p>
        <p>価格(税込)|￥5,000</p>
        <P><button type="button" class="btn btn-primary btn-sm">カートに入れる</button></P>
      </div>
  </div>

  <div class="row">
    <h4>シングル/アルバム内の曲名</h4>
      <div class="col-md-5 col-md-offset-1">
      </div>
  </div>
</div>