<div class="container">
  <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <img src="cdjacket1.png" alt="no image">
        <button type="button" class="btn btn-info">画像選択</button>
      </div>

      <div class="col-md-4">
        <p>title</p>
        <p>アーティスト名</p>
        <p>価格(税込)|￥5,000</p>
        <select name="status">
          <option value="quantity">1</option>
          <option value="quantity">2</option>
          <option value="quantity">3</option>
          <option value="quantity">4</option>
          <option value="quantity">5</option>
        </select>
        <button type="button" class="btn btn-primary btn-sm">削除</button>
      </div>
  </div>
</div>