
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

    <div class="row">
      <div class="col-md-5">
        <h1>購入履歴</h1>
        <p>会員登録時のユーザー情報を閲覧することができます。</p>
      </div>
	</div>

    <table class="table table-bordered">
      <tr>
        <th>購入日</th>
        <th>送付先</th>
        <th>購入内容</th>
        <th>購入枚数</th>
        <th>小計</th>
        <th>ステータス</th>
      </tr>
      <tr>
        <td>2019/0521</td>
        <td>東京都ゲキド町3-9-339号室</td>
        <td>スプラトゥーン2</td>
        <td>1枚</td>
        <td>700 円</td>
        <td>受付</td>
      </tr>
      <tr>
        <td><span class="hidden">2019/0521</span></td>
        <td><span class="hidden">東京都ゲキド町3-9-339号室</span></td>
        <td>プロを目指す人のためのRuby入門 言語仕様からテスト駆動開発・デバッグ技法まで (Software Design plusシリーズ)</td>
        <td>2枚</td>
        <td>800 円</td>
        <td><span class="hidden">受付</span></td>
      </tr>
    </table>


    <div class="row">
      <div class="col-md-3 col-md-offset-3 h3">送料 ￥500</div>
      <div class="col-md-3 col-md-offset-2 h3">購入価格総計￥2,000</div>
    </div>


    <table class="table table-bordered">
      <tr>
        <th>購入日</th>
        <th>送付先</th>
        <th>購入内容</th>
        <th>購入枚数</th>
        <th>小計</th>
        <th>ステータス</th>
      </tr>
      <tr>
        <td>2019/0521</td>
        <td>東京都ゲキド町3-9-339号室</td>
        <td>It's A Ruby Thing You Wouldn't Understand: Personalized Name Lined Writing Journal - 150 Pages, 5X8 - Universe Space Cover</td>
        <td>2枚</td>
        <td>800 円</td>
        <td>受付</td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3 col-md-offset-3 h3">送料 ￥500</div>
      <div class="col-md-3 col-md-offset-2 h3">購入価格総計 ￥1,300</div>
    </div>


    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-lg center-block btn-block">戻る</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-5">
              <nav>
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="前のページへ">
                      <span aria-hidden="true">«</span>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">9</a></li>
                  <li>
                    <a href="#" aria-label="次のページへ">
                      <span aria-hidden="true">»</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>


</div>