

<p class="text-center h3">購入が完了しました。<br>商品発送までしばらくお待ちください。</p>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-1">
        <div class="btn btn-lg btn-primary pull-right">
          <%= link_to "商品一覧へ戻る" , products_path %>
        </div>
      </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="btn btn-lg btn-primary">
            <%= link_to "購入履歴を見る", payments_path %>
          </div>
        </div>
    </div>
  </div>
</div>