<%= f.fields_for :disks do |d| %>
  <%= d.text_field :disk, {class: "btn btn-info btn-sm", role: "button"} %>
  <div class='nested-fields'>
    <%= render 'song_fields', :f => d %>
    <%= link_to_add_association "曲を追加", f, :songs, {class: "btn btn-info btn-sm", role: "button"} %>
  </div>
<% end %>
