<div class="row">
  <%= render 'layouts/search' %>
  <h2>商品一覧</h2>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>画像</th>
          <th>シングル・アルバム名</th>
          <th>アーティスト名</th>
          <th>価格（税別）</th>
          <th>在庫数</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2<td>
          <td>image</td>
          <td>シングル名・アルバム名</td>
          <td>back number</td>
          <td>¥1,500</td>
          <td>11</td>
          <td>販売中</td>
        </tr>
        <tr>
          <td>1<td>
          <td>image</td>
          <td>シングル名・アルバム名</td>
          <td>あいみょん</td>
          <td>¥1,500</td>
          <td>16</td>
          <td>販売停止中</td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="row">
  <div class="col-md-offset-4">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="前のページへ">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li>
        <a href="#" aria-label="次のページへ">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </div>
</div>