<div class="container">
  <div class="row">
    <h1>Music Rackへ商品を新規登録する</h1>
      <div class="col-md-5 col-md-offset-1">
        <img src="cdjacket1.png" alt="no image">
        <button type="button" class="btn btn-info btn-sm">画像選択</button>
      </div>

      <div class="col-md-4 col-md-offset-1">
        <div class="row">
          <div class="form-group">
            <label for="song_title">シングル/アルバム曲名</label>
            <input type="text" class="form-control" name="song_title">
          </div>

          <div class="form-group">
            <label for="artist">アーティスト名</label>
            <input type="text" class="form-control" name="artist">
            <input type="text" class="form-control" name="artist" placeholder="選択肢にない場合は、直接入力して下さい">
          </div>

          <div class="form-group">
            <label for="label">レーベル名</label>
            <input type="text" class="form-control" name="label">
            <input type="text" class="form-control" name="label" placeholder="選択肢にない場合は、直接入力して下さい">
          </div>

          <div class="form-group">
            <label for="genre">ジャンル</label>
            <input type="text" class="form-control" name="genre">
            <input type="text" class="form-control" name="genre" placeholder="選択肢にない場合は、直接入力して下さい">
          </div>

          <div class="form-group">
            <label for="quantity">在庫数</label>
            <input type="number" class="form-control" name="quantity">
          </div>

          <div class="form-group">
            <label for="price">価格(税別)</label>
            <input type="text" class="form-control" name="price" data-format="number">
          </div>

          <div class="form-group">
            <p><label for="status">ステータス</label><br>
            <select class="selectpicker" name="status">
            <option value="selling">販売中</option>
            <option value="stop_sellng">販売停止中</option>
            </select></p>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h4>シングル/アルバム内の曲名</h4>
        <p>Disk1</p>
          <div>
            <label for="songs">曲名1</label>
            <input type="text" class="form-control" name="songs">
          </div>
          <div>
            <label for="songs">曲名2</label>
            <input type="text" class="form-control" name="songs">
          </div>
          <div>
            <label for="songs">曲名3</label>
            <input type="text" class="form-control" name="songs">
          </div>

          <button type="button" class="btn btn-info btn-sm">曲名を追加</button>
          <button type="button" class="btn btn-info btn-sm">Diskを追加</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <button type="submit" class="btn btn-success btn-lg btn-block">新規登録</button>
    </div>
  </div>
</div>