<div class="container">
  <div class="row">
    <h1>Music Rackへ商品を新規登録する</h1>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <img src="cdjacket1.png" alt="no image">
        <p>
          <button type="button" class="btn btn-info btn-sm">画像選択</button>
        </p>
      </div>

      <div class="col-md-4">
        <div class="row">

          <div class="form-group">
            <label for="control-label">アーティスト名</label>
            <select class="form-control" name="artist">
              <option>選択して下さい</option>
              <option>back number</option>
              <option>あいみょん</option>
              <option>BTS</option>
              <option>西野カナ</option>
              <option>TWICE</option>
              <option>米津玄師</option>
              <option>平井大</option>
              <option>AAA</option>
              <option>ゆず</option>
            </select>
            <input type="text" class="form-control" name="artist" placeholder="選択肢にない場合は、直接入力して下さい">
          </div>

          <div class="form-group">
            <label for="control-label">レーベル名</label>
            <select class="form-control" name="label">
              <option>選択して下さい</option>
              <option>SMEレコーズ</option>
              <option>エピックレコードジャパン</option>
              <option>デフスターレコーズ</option>
              <option>avex trax</option>
              <option>rhythm zone</option>
              <option>EMI Records</option>
              <option>UNIVERSAL J</option>
              <option>UNIVERSAL SIGMA</option>
            </select>
            <input type="text" class="form-control" name="label" placeholder="選択肢にない場合は、直接入力して下さい">
          </div>

          <div class="form-group">
            <label for="control-label">ジャンル</label>
            <select class="form-control" name="genre">
              <option>選択して下さい</option>
              <option>J-POP・邦楽</option>
              <option>アニメ・ゲーム（アニソン・ボーカロイド）</option>
              <option>ロック＆ポップス</option>
              <option>ヒップホップ/ラップ</option>
              <option>クラブ/ダンス</option>
              <option>R&B・ソウル</option>
              <option>クラシック</option>
              <option>ハードロック/ヘビーメタル</option>
              <option>レゲエ</option>
              <option>ブルース</option>
              <option>韓流・K-POP</option>
              <option>洋楽ジャズ</option>
              <option>邦楽ジャズ</option>
              <option>フュージョン</option>
              <option>サントラ</option>
              <option>キッズ</option>
              <option>演歌・民謡</option>
            </select>
            <input type="text" class="form-control" name="genre" placeholder="選択肢にない場合は、直接入力して下さい">
          </div>

          <div class="form-group">
            <label for="control-label">在庫数</label>
            <select class="form-control" name="quantity">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="control-label">価格(税別)</label>
            <div class="form-group row">
              <div class="col-md-1">
                <label>¥</label>
              </div>
              <div class="col-md-11">
                <input type="text" class="form-control" name="price" data-format="number">
              </div>
          </div>


          <div class="form-group">
            <label for="control-label">ステータス</label>
            <select class="form-control" name="status">
              <option value="selling">販売中</option>
              <option value="stop_sellng">販売停止中</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <label>シングル/アルバム内の曲名</label>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>Disk1</p>
            <div class="form-group">
              <label for="control-label">曲名1</label>
              <input type="text" class="form-control" name="songs">
            </div>
            <div class="form-group">
              <label for="control-label">曲名2</label>
              <input type="text" class="form-control" name="songs">
            </div>
            <div class="form-group">
              <label for="control-label">曲名3</label>
              <input type="text" class="form-control" name="songs">
            </div>

            <button type="button" class="btn btn-info btn-sm">曲名を追加</button>
            <button type="button" class="btn btn-info btn-sm">Diskを追加</button>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-success btn-lg btn-block">新規登録</button>
    </div>
  </div>
</div>