<div class="row">
  <%= render 'layouts/search' %>
  <h2>商品詳細</h2>
  <div class="col-md-5 col-md-offset-1">
    <img src="assets/cdjacket1.png" alt="no image">
  </div>
  <div class="col-md-4">
    <label>title</label>
    <label>artist</label>
    <p>レーベル名</p>
    <p>ジャンル｜J-POP</p>
    <p>在庫｜12</p>
    <p>価格(税込)|￥5,000</p>
    <P>ステータス｜販売中</P>
  </div>
</div>
<div class="row">
  <h2>収録曲</h2>
  <div class="col-md-5 col-md-offset-1">
    <p>Disk1</p>
      <ul>
        <li>1.美しい日</li>
        <li>2.運命</li>
      </ul>
    <p>Disk2</p>
      <ul>
        <li>1.美しい日</li>
        <li>2.運命</li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-2">
    <button type="button" class="btn btn-default btn-lg">編集</button>
  </div>
  <div class="col-md-offset-1 col-md-2">
    <button type="button" class="btn btn-warning btn-lg">削除</button>
  </div>
</div>