

	<div class="container-fluid">
		<div class="row">

			<div class="col-md-12">


				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>


				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>


			</div>
		</div>


		<div class="row">

			<div class="col-md-12">


				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>


				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>


			</div>
		</div>


		<div class="row">

			<div class="col-md-12">


				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>


				<div class="col-md-3">
					<div class="col-md-12">
				<section class="">
					<img src="assets/cdjacket1.png" class="img-rounded img-responsive"  alt="サンプル画像" width="400px" height="200px">
					<h3 class="">Title</h3>
					<p class="">アーティスト名</p>
					<p class="">価格(税込)｜￥5,000</p>
					<p class="">在庫あり</p>
				</section>
					</div>
				</div>


			</div>
		</div>



		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
						<nav>
							<ul class="pagination">
								<li>
									<a href="#" aria-label="前のページへ">
										<span aria-hidden="true">«</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">9</a></li>
								<li>
									<a href="#" aria-label="次のページへ">
										<span aria-hidden="true">»</span>
									</a>
								</li>
							</ul>
						</nav>
				</div>
				<div class="col-md-3">
				</div>

			</div>
			<div class="col-md-3">
			</div>
		</div>



	</div>

