<h2>商品詳細</h2>
	<img src="">
	<p>title</p>
	<p>artist</p>
	<p>在庫あり</p>
	<p>価格(税込)|￥5,000</p>
<h2>収録曲</h2>
	<p>Disk1</p>
	<ul>
		<li>1.美しい日</li>
		<li>2.運命</li>
	</ul>
	<p>Disk2</p>
	<ul>
		<li>1.美しい日</li>
		<li>2.運命</li>
	</ul>