<div class="container">
	<div class="row">
		<%= render 'layouts/search' %>
		<h2>商品詳細</h2>
			<div class="col-md-5 col-md-offset-1">
				<img src="cdjacket1.png" alt="no image">
			</div>
			<div class="col-md-4">
				<p>title</p>
				<p>artist</p>
				<p>在庫あり</p>
				<p>価格(税込)|￥5,000</p>
				<P><button type="button" class="btn btn-primary btn-sm">カートに入れる</button></P>
			</div>
	</div>
	<div class="row">
		<h2>収録曲</h2>
			<div class="col-md-5 col-md-offset-1">
				<p>Disk1</p>
					<ul>
						<li>1.美しい日</li>
						<li>2.運命</li>
					</ul>
				<p>Disk2</p>
					<ul>
						<li>1.美しい日</li>
						<li>2.運命</li>
					</ul>
			</div>
	</div>
</div>