<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <%= search_form_for @search_user do |f| %>
      <!-- 検索値を含むレコードを検索 -->
      姓：<%= f.search_field :last_name_cont, class: "form-control", placeholder: "ユーザー名の姓を入力" %>
      名：<%= f.search_field :first_name_cont, class: "form-control", placeholder: "ユーザー名の名を入力" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
</form>

